<html>
    <head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
html, body { height: 100%; margin: 0px; padding: 0px; }
#main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(0,1fr) minmax(0,8fr) minmax(0,1fr);
    
}
#main div {
    border: 2px solid grey;
}
#tabs {
    display: flex;
    padding-bottom: 10px;
}
#tabs img {
    /* object-fit: contain; */
    margin-right: 10px;
}
#map {
    overflow-y: scroll;
    overflow-x: scroll;
}
</style>
<script>


var senders = [
    {x: 120, y: 120, repr: "square",property:{"asdf": "asdf"}},
    {x: 150, y: 100, repr: "triangle",property:{"asdf": "asdf"}},
    {x: 50, y: 10, repr: "circle",property:{"asdf": "asdf"}},
    {x: 1000, y: 10, repr: "circle",property:{"asdf": "asdf"}},
    {x: 10, y: 1000, repr: "triangle",property:{}},
];
var receivers = [

]
var paths = [
    {
        color: "orange",
        thickness: 3,
        path: [
            [1,2],
            [40,50],
            [50,40]
        ]
    }
]

function showMessages() {
    window.location.href = "/messages.html";
}
function showResources() {
    window.location.href = "/resources.html";
}

var interact = [];

function redrawCanvas() {
    const canvas = $("#map_canvas")[0];
    for (const thing of senders) {
        // lines and areas aren't things?
        // lines are drawn if one of the things theyre attached to are seen
        // areas are completely separate
        // live updating?
        const ctx = canvas.getContext("2d");
        if (thing.name == localStorage.getItem("userid")) {
            ctx.fillStyle = "red";
        } else {
            ctx.fillStyle = "green";
        }
        if (thing.repr == "triangle") {
            const size = 10;
            const top = [0, -size];
            const bottom_left = [-size*Math.sqrt(3)/2, size/2];
            const bottom_right = [size*Math.sqrt(3)/2, size/2];
            const disp_x = thing.x;
            const disp_y = thing.y;
            ctx.beginPath();
            ctx.moveTo(disp_x+top[0], disp_y+top[1]);
            ctx.lineTo(disp_x+bottom_left[0], disp_y+bottom_left[1]);
            ctx.lineTo(disp_x+bottom_right[0], disp_y+bottom_right[1]);
            ctx.fill();
        } else if (thing.repr == "circle") {
            const size = 7;
            ctx.beginPath();
            ctx.arc(thing.x, thing.y, size, 0, Math.PI * 2, true);
            ctx.fill();
        } else if (thing.repr == "square") {
            const size = 6;
            const disp_x = thing.x;
            const disp_y = thing.y;
            ctx.beginPath();
            ctx.moveTo(disp_x-size, disp_y-size);
            ctx.lineTo(disp_x+size, disp_y-size);
            ctx.lineTo(disp_x+size, disp_y+size);
            ctx.lineTo(disp_x-size, disp_y+size);
            ctx.lineTo(disp_x-size, disp_y-size);
            ctx.fill();
        }
        const radius = 10;
        thing.resources.name = thing.name;
        interact.push({x: thing.x, y: thing.y, radius: radius, property: thing.resources})
    }
    for (const thing of receivers) {
        // lines and areas aren't things?
        // lines are drawn if one of the things theyre attached to are seen
        // areas are completely separate
        // live updating?
        const ctx = canvas.getContext("2d");
        if (thing.name == localStorage.getItem("userid")) {
            ctx.fillStyle = "red";
        } else {
            ctx.fillStyle = "blue";
        }
        if (thing.repr == "triangle") {
            const size = 10;
            const top = [0, -size];
            const bottom_left = [-size*Math.sqrt(3)/2, size/2];
            const bottom_right = [size*Math.sqrt(3)/2, size/2];
            const disp_x = thing.x;
            const disp_y = thing.y;
            ctx.beginPath();
            ctx.moveTo(disp_x+top[0], disp_y+top[1]);
            ctx.lineTo(disp_x+bottom_left[0], disp_y+bottom_left[1]);
            ctx.lineTo(disp_x+bottom_right[0], disp_y+bottom_right[1]);
            ctx.fill();
        } else if (thing.repr == "circle") {
            const size = 7;
            ctx.beginPath();
            ctx.arc(thing.x, thing.y, size, 0, Math.PI * 2, true);
            ctx.fill();
        } else if (thing.repr == "square") {
            const size = 6;
            const disp_x = thing.x;
            const disp_y = thing.y;
            ctx.beginPath();
            ctx.moveTo(disp_x-size, disp_y-size);
            ctx.lineTo(disp_x+size, disp_y-size);
            ctx.lineTo(disp_x+size, disp_y+size);
            ctx.lineTo(disp_x-size, disp_y+size);
            ctx.lineTo(disp_x-size, disp_y-size);
            ctx.fill();
        }
        const radius = 10;
        thing.resources.name = thing.name;
        interact.push({x: thing.x, y: thing.y, radius: radius, property: thing.resources})
    }

    for (const path of paths) {
        // lines and areas aren't things?
        // lines are drawn if one of the things theyre attached to are seen
        // areas are completely separate
        // live updating?
        const ctx = canvas.getContext("2d");
        ctx.lineWidth = path.thickness;
        ctx.strokeStyle = path.color;
        ctx.beginPath();
        if (path.path.length >= 2) {

            ctx.moveTo(path.path[0][0], path.path[0][1])
            for (const xy of path.path) {
                ctx.lineTo(xy[0], xy[1]);
            }
        }
        ctx.stroke();
    }
}
function clearCanvas() {
    const canvas = $("#map_canvas")[0];
    const context = canvas.getContext('2d');
    context.clearRect(0, 0, canvas.width, canvas.height);
    interact = [];
}

function syncMessages() {

    fetch("/get_people_data", {
        method: "GET",
        body: JSON.stringify({
        }),
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
    })
    .then((response) => response.json())
    .then((json) => function(json) {
        senders = json["senders"];
        receivers = json["receivers"];
    });
    clearCanvas();
    redrawCanvas();
}

window.addEventListener("DOMContentLoaded", function() {
    setInterval(syncMessages, 5000);
});

function infoPopup(x, y, property) {
    console.log("asdf");
    const popup = document.createElement("ul");
    popup.id = "popup";
    for (const key in property) {
        const element = document.createElement("li");
        element.innerText = key + ": " + property[key];
        popup.appendChild(element);
    }
    popup.style.backgroundColor = "cyan";
    popup.style.padding = "2px";
    popup.style.listStyleType = "none";
    popup.style.position = "absolute";
    popup.style.left = String(x) + "px";
    popup.style.top = String(y) + "px";
    document.body.appendChild(popup);
}
function clearPopup() {
    $("#popup").remove();
}

window.addEventListener("DOMContentLoaded", function() {

    const map = $("#map")[0];
    var map_height = map.getBoundingClientRect().height;
    var map_width = map.getBoundingClientRect().width;
    console.log(map_height, map_width);
    const resize_observer = new ResizeObserver((entries) => {
        for (const entry of entries) {
            map_height = entry.contentRect.height
            map_width = entry.contentRect.width
            console.log(map_height, map_width);
            // redraw
        }
    })
    resize_observer.observe(map);
    redrawCanvas();

    const canvas = $("#map_canvas")[0];
    canvas.addEventListener('oncontextmenu', (e) => {
        e.preventDefault()
        const clickx = e.clientX-canvas.getBoundingClientRect().left;
        const clicky = e.clientY-canvas.getBoundingClientRect().top;
        $("#x_select")[0].value = Math.round(clickx);
        $("#y_select")[0].value = Math.round(clicky);
        return false;

    });
    canvas.addEventListener('click', (e) => {
        const clickx = e.clientX-canvas.getBoundingClientRect().left;
        const clicky = e.clientY-canvas.getBoundingClientRect().top;
        clearPopup();
        for (const i of interact) {
            if (Math.abs(i.x - clickx) < i.radius) {
                // console.log(Math.abs(i.y - clicky), i.radius);
                if (Math.abs(i.y - clicky) < i.radius) {
                    infoPopup(e.pageX, e.pageY, i.property);
                    // create hover
                }
            }
        }
        $("#x_select")[0].value = Math.round(clickx);
        $("#y_select")[0].value = Math.round(clicky);

    });

    if (localStorage.getItem("userid") == null) {
        let person = prompt("Please enter your name", "User "+String(Math.round(Math.random()*10000000)));
        var role = "";
        while (role != "distributor" && role != "camp") {
            role = prompt("What is your role (distributor/camp)", "distributor");
        }
        fetch("/add_name", {
            method: "POST",
            body: JSON.stringify({
                name: person,
                role: role,
                x: -1,
                y: -1
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .then((response) => response.json())
        .then((json) => function(json) {
            if (json["error"] != null) {
                alert(json);
            } else {
                localStorage.setItem("userid", person);
                localStorage.setItem("role", role);
            }
        });
    }
    if (localStorage.getItem("userid") == null) {
        window.location.reload();
    }
    $("#name_select")[0].innerText = localStorage.getItem("userid");

    $("#submit_select")[0].addEventListener('click', (e) => {
        fetch("/new_location", {
            method: "POST",
            body: JSON.stringify({
                name: localStorage.getItem("userid"),
                x: $("#x_select")[0].value,
                y: $("#y_select")[0].value
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .then((response) => response.json())
        .then((json) => function(json) {
            if (json["error"] != null) {
                alert(json);
            }
        });
    });
    

}, false);

</script>
    </head>
    <body>
        <div id="main">
            <div id="tabs">
                <img src="static/mail.jpg" id="messages" onclick="showMessages();">
                <img src="static/apple.jpg" id="resources" onclick="showResources();">
            </div>
            <div id="map">
                <canvas id="map_canvas" width="3000" height="3000"></canvas>
            </div>
            <div id="selection">
                <span>Name:</span>
                <span id="name_select"></span>
                <span>X:</span>
                <input type="text" id="x_select" name="x_select" />
                <span>Y:</span>
                <input type="text" id="y_select" name="y_select" />
                <button type="button" id="submit_select">Set Location</button>
            </div>
        </div>
    </body>
</html>
